.content-section {
    background-color: #f2f2f2;
    height: 1000px;
    padding: 20px;
    border-radius: 5px;
}
.content-section h3,
.content-section p {
  text-align: center;  
}

.navbar-nav.visible-xs > li > a {
  text-align: center;
}
@media (min-width: 992px) {
    .navbar-brand {
      padding-left: 100px;
    }
  }

  